<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
<!--
    <filter>
        <display-name>HystrixRequestContextFilter</display-name>
        <filter-name>HystrixRequestContextFilter</filter-name>
        <filter-class>geoipservice.HystrixRequestContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HystrixRequestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <servlet>
        <description/>
        <display-name>GeoIpServlet</display-name>
        <servlet-name>GeoIpServlet</servlet-name>
        <servlet-class>geoipservice.GeoIpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoIpServlet</servlet-name>
        <url-pattern>/geoip_country</url-pattern>
    </servlet-mapping>

    <servlet>
        <description/>
        <display-name>HystrixMetricsStreamServlet</display-name>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <url-pattern>/hystrix.stream</url-pattern>
    </servlet-mapping>
</web-app>
